body {
    background-color: #FFF;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    color: #1B1B26;
    display: block;
}


/* CONTAINER WITH MAX OVERALL WIDTH OF INTERIOR PAGE */
.parent-container {
    max-width: 1280px;
    width: 100%;
    padding: 0px;
}


/* INTERIOR CONTAINER WITH MAIN ELEMENTS WITHIN THAT CENTRAL CONTAINER */
.child-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 6rem;
}


/* MAIN HEADER ELEMENTS */
.header-main {
    display: flex;
    padding: 22px 8%;
    align-items: center;
    color: #eee;
    border-bottom: 1px solid #1B1B26;
    background: var(--RED, #22222B);
    box-shadow: 0px 4px 12px 1px rgba(63, 52, 52, 0.25);
    margin-bottom: 4rem;
}

.logo-align {
    display: flex;
    vertical-align: middle;
    align-items: center;
    gap: 1rem;
}

.logo-main {
    height: 30px;
}


/* HEADER FORMATTINGS */
h1 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

h2 {
    font-size: 2.875rem;
    font-weight: 400;
    line-height: normal;
    padding: 2rem 0rem;
}


/* FORMATTING FOR H2S WITH HIGHLIGHTS IN THE BG */
.h2-block {
    background-repeat: no-repeat;
    margin: 0px;
    background-position-y: 3rem;
}

h3 {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.375rem;
    margin: 0px;
}


/* PARAGRAPHS FORMATTINGS */
.lg-text {
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 3.89475rem;
    margin: 0px;
}

.med-text {
    font-size: 1.625rem;
    font-weight: 100;
    line-height: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3125rem;
}

.p-small {
    font-size: 0.875rem;
    font-weight: 400;
}


/* BUTTONS */
.primary-button {
    border-radius: 0.3125rem;
    border: none;
    background: #F3A63B;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #1E1E24;
    font-size: 1.125rem;
}

.primary-button:hover {
    background-color: #F0DCCA;
}

.primary-button:active {
    background-color: #DB324D;
}

.primary-button:focus {
    outline-color: #000;
}

.secondary-button {
    border-radius: 0.3125rem;
    border: none;
    background: #F3A63B;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #1E1E24;
    font-size: 1.125rem;
}

.tertiary-button {
    color: #D9D9D9;
    display: inline-flex;
    padding: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    background-color: #22222B;
    border-radius: 0.3125rem;
    border: none;
    transition: .3s;
}

.tertiary-button:hover {
    background-color: #F3A63B;
    color: #22222B;
    transform: scale(1.2);
}

.tertiary-button:active {
    background-color: #DB324D;
}

.tertiary-button:focus {
    outline-color: #000;
}

/* MAIN CONTAINER FORMATTING FOR TOP INTRO IMAGERY */
.hero-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 0px;
    width: auto;
    flex-shrink: 0;
}

.table-style {
    height: auto;
    width: 100%;
    border-bottom: 81px solid #806A6A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coding-scene {
    align-items: center;
    transform: translateY(61px)
}

.profile {
    width: 100%;
}


/* INDIVIDUAL ABOUT ME TILES */
.aboutMe-block {
    display: flex;
    align-items: flex-start;
    gap: 3.1875rem;
    align-self: stretch;
}

.aboutme-tile {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex: 1 0 0;
    border-radius: 1.5625rem;
    border: 0px solid #DBDBDB;
    text-align: center;
    box-shadow: 0px 0px 6px 2px rgba(52, 52, 63, 0.10);
    background: var(--XA, #FFF);
}

.skills-tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-tile {
    width: 100%;
}

.right-tile {
    width: 100%;
}

.tile-VerticalRule {
    height: auto;
    width: 0;
    border: .5px solid #DBDBDB;
    margin: 0 .25rem;
}

.badge-wrapper {
    display: flex;
    gap: 0.75rem;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 1rem 0 2rem 0;
}

.badge-resize {
    max-height: 100%;
    min-height: 25%;
    height: 75%;
}


/* GENERAL TILE FORMATTING*/
.general-tile {
    border-radius: 1.5625rem;
    border: 0px solid #DBDBDB;
    padding: 3.125rem;
    gap: 2rem;
    box-shadow: 0px 0px 6px 2px rgba(52, 52, 63, 0.10);
}

.general-tileWrapper {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.projectImg {
    width: 100%;
    border-radius: 5px;
    transition: .3s;
}

.projectImg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footer-container {
    color: #D9D9D9;
    border-top: 1px solid #1B1B26;
    background: #22222B;
    box-shadow: 0px -4px 22px 0px rgba(0, 0, 0, 0.25);
    padding: 60px 0;
    margin-top: 60px;
}

.footer-container-top {
    display: flex;
    gap: 4rem;
    flex-direction: row;
}

.socials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-auto-rows: max-content;
}

.footer-last {
    padding-top: 1rem;
}


/* MEDIA QUERY AREAS */
@media (max-width: 1200px) {
    .aboutMe-block {
        gap: 2rem;
    }

    .aboutme-tile {
        min-width: 10rem;
    }
 
    .footer-container-top {
        gap: 1rem;
        flex-direction: column;
    }

    .socials-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 1000px) {
        .skills-tile {
            flex-direction: column;
        }

        .general-tileWrapper {
            width: 100%;
        }

        .aboutMe-block {
            flex-flow: wrap;
            gap: 2rem;
        }

        .aboutme-tile {
            min-width: 10rem;
        }
    }

    @media (max-width: 850px) {
        .project-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }

    @media (max-width: 500px) {

        .child-container {
            padding: 0 1.75rem;
        }

        .project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

        /* HEADER FORMATTINGS */
        h1 {
            font-size: 1.875rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        .h2-block {
            background-size: 45%;
        }


        h3 {
            font-size: 1.3125rem;
            line-height: normal;
        }


        /* SMALL BREAK POINT FORMATTINGS */
        .lg-text {
            font-size: 1.125rem;
            line-height: 1.94738rem;
        }

        p {
            font-size: 0.875rem;
            line-height: 1.125rem;
        }

        .med-text {
            font-size: 1.125rem;
            line-height: 1.5rem;
        }

        .p-small {
            font-size: 0.75rem;
        }

        /* BUTTONS */
        .primary-button {
            width: 100%;
        }

        .tertiary-button {
            width: 100%;
        }

        /* ABOUT ME BLOCK */
        .aboutMe-block {
            flex-direction: column;
            gap: 1rem;
        }

        .aboutme-tile {
            width: -webkit-fill-available;
        }

        .coding-scene {
            width: 100%;
            transform: translateY(38px)
        }


        /* TILE FORMATTING */
        .general-tile {
            padding: 1.875rem;
        }

        .general-tileWrapper {
            width: 100%;

        }

        .skills-tile {
            flex-direction: column;
        }

        .badge-wrapper {
            padding: .5rem 0 1rem 0;
        }

        .footer-container-top {
            gap: 1rem;
            flex-direction: column;
        }

        .socials-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
